<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>Launch </key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
	</array>
</dict>
</plist>
